html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed-section {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*dashboard cards styling*/
.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.dashboard-card {
    background-color: #ffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
    border: solid 1px #baeeb6;
}

    .dashboard-card img {
        height: 60px;
        width: auto;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .dashboard-card p {
        margin: 4px 0;
        font-size: 16px;
        color: #333;
    }